<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %> 
</head>
<body>
<div class="container">
    <section class="hero is-small is-success">
        <div class="hero-body">
          <p class="title">
            Add New Product
          </p>
          <p class="subtitle">
            Mongoose Store
          </p>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-success" href="/store">
                    <strong>Home</strong>
                  </a>
              </div>
            </div>
          </div>
      </section>

      <br>
    
    <div class="columns has-text-centered">
        <div class="column">
            <ul>
                <form action="/store" method="post" class="the-form">
                    <li>Name:</li>
                    <li><input type="text" name="name"></li>
                    <li>Image URL:</li> 
                    <li><input type="url" name="img"></li>
                    <li>Price:</li>
                    <li><input type="number" name="price"></li>
                    <li>Quantity:</li> 
                    <li><input type="number" name="qty"></li>
                    <li>Description:</li>
                    <li><textarea name="description" id="" cols="50" rows="10"></textarea></li>
                    <div class="buttons is-normal is-centered">
                        <button type="submit" class="button">Add New Item</button>
                    </div>
                </form>
            </ul>
        </div>
    </div>
    
</div>
</body>
</html>